<% if @attempt.current_question_index == @attempt.question_ids.length %>
  <h2> You answered <%=@attempt.result%> correctly out of <%=@attempt.question_ids.length%> </h2>

  <% @last_five_attempts.each do |attempt|%>
      <h3> At <%= attempt.updated_at %>, You answered <%=attempt.result%> correctly out of <%=attempt.question_ids.length%>  </h3>
  <% end %>

  <%= form_with url:"/", method: :post do |form| %>
    <%= form.hidden_field :prev_id, value: @attempt.id %>  
    <input name="commit" type="submit" value="Reload" />
    <input name="commit" type="submit" value="Redo" />
  <% end %>

<% elsif !@is_multiple_answer %>
  <%= form_tag('/attempt/', options={id: 'answer-form', method: :post, remote: true}) do |form| %>
  <%= hidden_field_tag :id, @attempt.id %>

  <h2> <%= @questions[@attempt.current_question_index]['question']%> </h2>

  <% if @questions[@attempt.current_question_index]['answers']['answer_a'].present? %>
        <input type="radio" id="answer_a" name="answers" value="answer_a">
        <label for="answer_a"><%= @questions[@attempt.current_question_index]['answers']['answer_a']%></label><br>
  <% end %>

  <% if @questions[@attempt.current_question_index]['answers']['answer_b'].present? %>
        <input type="radio" id="answer_b" name="answers" value="answer_b">
        <label for="answer_b"><%= @questions[@attempt.current_question_index]['answers']['answer_b']%></label><br>
  <% end %>

  <% if @questions[@attempt.current_question_index]['answers']['answer_c'].present? %>
        <input type="radio" id="answer_c" name="answers" value="answer_c">
        <label for="answer_c"><%= @questions[@attempt.current_question_index]['answers']['answer_c']%></label><br>
  <% end %>

  <% if @questions[@attempt.current_question_index]['answers']['answer_d'].present? %>
        <input type="radio" id="answer_d" name="answers" value="answer_d">
        <label for="answer_d"><%= @questions[@attempt.current_question_index]['answers']['answer_d']%></label><br>
  <% end %>

  <% if @questions[@attempt.current_question_index]['answers']['answer_e'].present? %>
        <input type="radio" id="answer_e" name="answers" value="answer_e">
        <label for="answer_e"><%= @questions[@attempt.current_question_index]['answers']['answer_e']%></label><br>
  <% end %>

  <% if @questions[@attempt.current_question_index]['answers']['answer_f'].present? %>
        <input type="radio" id="answer_e" name="answers" value="answer_f">
        <label for="answer_f"><%= @questions[@attempt.current_question_index]['answers']['answer_f']%></label><br>
  <% end %>

  <input name="commit" type="submit" value="Submit" />
  <% end %>
<% else %>
  <%= form_tag('/attempt/', options={id: 'answer-form', method: :post, remote: true}) do |form| %>
  <%= hidden_field_tag :id, @attempt.id %>

  <h2> <%= @questions[@attempt.current_question_index]['question']%> </h2>

  <% if @questions[@attempt.current_question_index]['answers']['answer_a'].present? %>
        <input type="checkbox" id="answer_a" name="answer_a" value="answer_a">
        <label for="answer_a"><%= @questions[@attempt.current_question_index]['answers']['answer_a']%></label><br>
  <% end %>

  <% if @questions[@attempt.current_question_index]['answers']['answer_b'].present? %>
        <input type="checkbox" id="answer_b" name="answer_b" value="answer_b">
        <label for="answer_b"><%= @questions[@attempt.current_question_index]['answers']['answer_b']%></label><br>
  <% end %>

  <% if @questions[@attempt.current_question_index]['answers']['answer_c'].present? %>
        <input type="checkbox" id="answer_c" name="answer_c" value="answer_c">
        <label for="answer_c"><%= @questions[@attempt.current_question_index]['answers']['answer_c']%></label><br>
  <% end %>

  <% if @questions[@attempt.current_question_index]['answers']['answer_d'].present? %>
        <input type="checkbox" id="answer_d" name="answer_d" value="answer_d">
        <label for="answer_d"><%= @questions[@attempt.current_question_index]['answers']['answer_d']%></label><br>
  <% end %>

  <% if @questions[@attempt.current_question_index]['answers']['answer_e'].present? %>
        <input type="checkbox" id="answer_e" name="answer_e" value="answer_e">
        <label for="answer_e"><%= @questions[@attempt.current_question_index]['answers']['answer_e']%></label><br>
  <% end %>

  <% if @questions[@attempt.current_question_index]['answers']['answer_f'].present? %>
        <input type="checkbox" id="answer_e" name="answer_f" value="answer_f">
        <label for="answer_f"><%= @questions[@attempt.current_question_index]['answers']['answer_f']%></label><br>
  <% end %>

  <input name="commit" type="submit" value="Submit" />
  <% end %>      
<% end %>